[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "files/janus/vim-ruby"]
	path = files/janus/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "files/janus/vim-bundler"]
	path = files/janus/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "files/janus/vim-rake"]
	path = files/janus/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "files/janus/vim-unimpaired"]
	path = files/janus/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "files/janus/vim-wakatime"]
	path = files/janus/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "files/janus/ale"]
	path = files/janus/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "files/janus/vim-vue"]
	path = files/janus/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "files/janus/vim-gutentags"]
	path = files/janus/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
