[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "files/janus/vim-ruby"]
	path = files/janus/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "files/janus/vim-bundler"]
	path = files/janus/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "files/janus/vim-rake"]
	path = files/janus/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "files/janus/vim-unimpaired"]
	path = files/janus/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
